.tag-inactive {
  background: #2b2b2b;
  color: var(--color-text-light);
  border: 1px solid transparent;
  box-shadow: var(--shadow-tag-inactive);
}

.tag-inactive:hover {
  background-color: #3b3b3b;
}

.tag-active {
  background: var(--gradient-main);

  color: white;
  border: 1px solid rgba(168, 85, 247, 0.6);
  box-shadow: var(--shadow-tag-active);
  font-weight: 400;
  text-shadow:
    0 0 0.5px currentColor,
    0 0 0.5px currentColor;
}
