@import 'tailwindcss';
@import './token.css';

body {
  background-color: var(--color-background);
  color: var(--color-text-light);
  font-family: 'Pretendard', sans-serif;
  min-width: 375px;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
